html {
    background-color: rgba(136, 230, 247, 0.514);
    border: 2px solid red;
    width: 98vw;
    /* height: 95vh; */
}

table {
    /* border: 1px solid black; */
}

th, td {
    width: 100px;
    border: 1px solid red;
    text-align: center;
}

